@using MyProject_MVC.Models
@{
    ViewBag.Title = "Shopping";
}

<h2 class="text-center">Check Out</h2>
@{
    if (Session["Cart"] != null)
    {
        using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
        {
            <section class="shoping-cart spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="shoping__product">Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cart in (List<Cart>)Session["Cart"])
                                        {
                                            double p = Convert.ToDouble(cart.Product.ProPrice);
                                            int q = Convert.ToInt32(cart.Quantity);
                                            double subtotal = p * q;
                                            <tr>
                                                <td class="shoping__cart__item">
                                                    <img src="@cart.Product.ProImage" alt="" height="100px" width="100px">
                                                    <h5>@cart.Product.ProName</h5>
                                                </td>
                                                <td class="shoping__cart__price">
                                                    @(cart.Product.ProPrice)đ
                                                </td>

                                                <td class="shoping__cart__quantity">
                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                            <input type="number" name="quatily" class="quantily" value="@cart.Quantity" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="shoping__cart__total">
                                                    @(subtotal).000đ
                                                </td>
                                                <td class="shoping__cart__item__close">
                                                    @Html.ActionLink("Delete", "RemoveItem", "ShoppingCart", new { id = cart.Product.ProId }, new {@class = "success"})
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            @{
                                                List<Cart> temp = (List<Cart>)Session["Cart"];
                                                var total = temp.Sum(x => x.Quantity * x.Product.ProPrice);
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__btns">
                                <a href="@Url.Action("Index", "Products")" class="primary-btn cart-btn text-light" style="background-color: #0099e6;">CONTINUE SHOPPING</a>
                                <input type="submit" value="Update Cart" class="primary-btn cart-btn cart-btn-right" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping__continue">
                                <div class="shoping__discount">
                                    <h5>Discount Codes</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Enter your coupon code" style="border: 1px solid #ccc; padding: 10px; min-width: 250px;">
                                        <button type="submit" class="site-btn">APPLY COUPON</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping__checkout">
                                <h5>Cart Total</h5>
                                <ul>
                                    <li>Total <span>@(total)đ</span></li>
                                </ul>
                                <a href="@Url.Action("CheckOut", "ShoppingCart")" class="primary-btn">PROCEED TO CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <h4 class="text-center py-4">No Item In Shopping Cart in your !</h4>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".quantily").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Enter digits only!").show().fedeOut("slow");
                return false;
            }
        });
    });
</script>
