@model List<MyProject_MVC.Models.Product_Category>
@{
    ViewBag.Title = "Search";
}


@if (Model != null && Model.Any())
{
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    @Html.Partial("_SidebarLayout")
                    <div class="col-lg-9 col-md-7">
                        <div class="product__discount">
                            <div class="section-title product__discount__title">
                                <h2>@Model.Count() Products found</h2>
                            </div>
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 mb-4">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                 data-setbg="@item.ProImage">
                                                <ul class="product__item__pic__hover">
                                                    <li><a class="error" data-product-id="@item.ProId"><i class="fa fa-heart"></i></a></li>
                                                    <li><a class="success" data-product-id="@item.ProId"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <span>@item.ProName</span>
                                                <h5><a href="@Url.Action("Details", "Products",new {id = item.ProId })">@item.CatName</a></h5>
                                                <div class="product__item__price">@item.ProPrice</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="container">
        <h2 class="text-center my-4">Sorry, no products found :( </h2>
    </div>
}
