@model MyProject_MVC.Models.Blog
@{
    ViewBag.Title = "Details";
}


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            @Html.Partial("_BlogSidebar")
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <h3>
                       @Model.Title
                    </h3>
                    <p>
                    </p>
                    <img src="@Model.BlogAvata" alt="">
                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="@Model.BlogAvata" alt="" style="object-fit: cover">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>@Model.User.UserName</h6>
                                    <span>Cube</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> Shoes</li>
                                    <li><span>Tags:</span> All, Trending, Running, Life Style</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
